/*  ここから特能ポップアップのスタイル  */
#tokunouwrap{
  width: 100%;
  border: 1px black dotted;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
}
#tokunouwrap label{
  border: 1px black dashed;
  margin: 5px 2px;
}
input{
  display: none;
}
.check input:checked+.tokuSpan {
  background-color: red;
  color: white;
}
/*  ここまで  */