body{
  background-color: #BEF3E2;
}
#wrap{
  width: 90%;
  border: 1px black solid;
  margin: 5px auto 90px auto;
  padding: 10px;
}
#navbar{
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
}
.navcont{
  height: 50px;
  width: 50%;
  line-height: 50px;
  list-style-type: none;
  font-size: 26px;
  text-align: center;
  background-color:#7de7c5;
}
.navcont>*{
  display: inline-block;
  height: 40px;
  width: 70%;
}
.navcont a{
  text-decoration: none;
  color: #4F4D55;
  line-height: 40px;
}
.activeNavCont{
  background-color:white;
  text-align: center;
  border-radius: 1em;
}
#tatesen{
  background-color: black;
  width: 1px;
  height:50px;
}
/*  mainのスタイル  */
header{
  position: sticky;
  width: 100%;
  height: 36px;
  top:0;
  background-color: #e9fbf5;
}
#sort,#filter{
  position: absolute;
  top: 8px;
  width: 100px;
  height: 22px;
}
#sort{
  left: 5%;
}
#filter{
  right: 5%;
}

#playerwrap{
  top: 20px;
}
.playerCard{
  border-radius:1em; 
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 7px;
  background-color: #e9f8fb;
}
.playerCard p{
  font-size: 18px;
  border: 1px black solid;
  margin: 2px 2px;
  padding: 0px 3px;
}
.cardPos{
  display: flex;
  flex-wrap: wrap;
}
.cardPers,.cardTokunou,.cardPolicy{
  width: 100%;
}
/*  以下、main > filterのスタイル  */
#filterwrap{
  width: 100%;
  border: 1px black dotted;
  padding: 2px;
}
input[type="tel"]{
  display: inline-block;
  width: 50px;
  margin: 5px 0;
}

#yearDiv,
#posDiv,
#persDiv {
  border: 1px grey solid;
  margin: 2px;
  padding-left: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#posDiv span,
#persDiv span {
  width: 80px;
  vertical-align: bottom;
}

.check {
  border: 1px black dotted;
  margin: 5px 2px;
}
.posCheckedSpan {
  background-color: red;
  color: white;
}
.perCheckedSpan {
  background-color: blue;
  color: white;
}

#buttonwrap{
  height: 25px;
}
#closeButton{
  position: absolute;
  bottom:5px;
  width: 60px;
  height: 32px;
  left: 40%;
  transform : translate(-50%);
}
#resetButton{
  position: absolute;
  bottom:5px;
  width: 50px;
  height: 30px;
  left: 60%;
  transform : translate(-50%);
}
/*  ここまでfilter  */
/*  ここまでmain  */

/*  ここからadd */
#yearForm{
  margin: 4px auto;
  font-size: 20px;
  text-align: center;
}
#yearForm input{
  font-size: 20px;
}
/*  ここからaddcard内のスタイル */
.addcard{
  margin: 4px 0px;
  background-color:white; 
  border-radius: 5%;
  padding: 3px;
}
.addcard>*{
  padding: 0 3px;
}
/*
.posDiv{
  background-color:#FFF1B8;
}*/
.posDivChild {
  margin-left: 1em;
}
.posDivChild *{
  margin-right: 2px;
}
/*
.persDiv{
  background-color: #FDC167;
}
.tokunouDiv{
  background-color:#c1ea46; 
}*/
.policyDiv textarea{
  width: 98%;
}
/*  ここまでaddcard内のスタイル */
#addbar{
  width: 100%;
  position: fixed;
  bottom: 50px;
  height: 40px;
  background-color: #93ebcf;
}
.addButton{
  width: 130px;
  height: 32px;
  color: black;
  font-size: 22px;
  background-color: white;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%)
}
/*  ここからtokunouDesc */
.tokunouUl{
  margin: 1px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.tokunouList{
  margin: 1px;
  padding: 0 1px;
  list-style: none;
  background-color: #CCFFFF;
  color: #1E6495;
  border: 1px #4689FF solid;
  border-radius: 0.5em;
  font-size: 12px;
}
/*  ここまでtokunouDesc */
/*  ここからadd < 特能ポップアップのスタイル  */
.tokunouButton{
  border-radius: 1em;
  width: 100px;
  margin: 3px auto;
  border: 1px #4689FF solid;
  color: #1E6495;
  background-color: #B9F9F9;
}
#tokunouwrap{
  width: 100%;
  border: 1px black dotted;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
}

input[type="checkbox"]{
  display: none;
}
/*  未選択のボタン  */
.none{
  color: #89D6EF;
  margin: 5px 2px;
  padding: 0px 2px;
  border-radius: 0.5em;
  border: 1px #4689FF solid;
  background-color: #F0F2F5;
}
/*  選択済み  */
.addTokuSpan {
  margin: 5px 2px;
  padding: 0px 2px;
  border-radius: 0.5em;
  border: 1px #4689FF solid;
  color: #1E6495;
  background-color: #B9F9F9;
}
#tokunouButtonWrap{
  width: 100%;
  height: 32px;
}
/*  ここまでadd < tokunouPop  */
/*  ここまでadd */