html
{
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
    font-weight: 500;
}
body{
  background-color: #BEF3E2;
}
/*  モーダルの背面スクロールを禁止する  */
.ReactModal__Body--open {
  position: fixed;
}
#titleDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  font-size: xx-large;
}
#wrap{
  width: 95%;
  margin: 0px auto 90px auto;
  padding: 6px;
}
#navbar{
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
}
.navcont{
  height: 50px;
  width: 50%;
  line-height: 50px;
  list-style-type: none;
  font-size: 26px;
  text-align: center;
  background-color:#7de7c5;
}
.navcont>*{
  display: inline-block;
  height: 40px;
  width: 70%;
}
.navcont a{
  text-decoration: none;
  color: #4F4D55;
  line-height: 40px;
}
.activeNavCont{
  background-color:white;
  text-align: center;
  border-radius: 1em;
}
#tatesen{
  background-color: black;
  width: 1px;
  height:50px;
}
/*  mainのスタイル  */
header{
  position: sticky;
  width: 100%;
  height: 38px;
  top:0;
  background-color: #e9fbf5;
}
#sort,#filter{
  position: absolute;
  top: 50%;
  transform : translate(0,-50%);
  width: 100px;
  height: 22px;
}
#sort{
  left: 5%;
}
#sort select{
  margin: 0px 4px;
  width: 140px;
  height: 26px;
  background-color: white;
  border: 1px #BEF3E2 solid;
  border-radius: 1em;
}
#filter{
  right: 5%;
  width: 100px;
  height: 26px;
  background-color: white;
  border: 1px #BEF3E2 solid;
  border-radius: 1em;
}

.playerCard{
  border-radius:1em; 
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 7px;
  background-color: white;
}
.playerCard p{
  font-size: 16px;
  margin: 2px 2px;
  padding: 0px 3px;
}
.yearAndName{
  width: 100%;
  display: flex;
  border-bottom: 1px #8b9496 solid;
}
.cardPos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px #8b9496 solid;
}
.cardPers,.cardTokunou,.cardPolicy{
  width: 100%;
  border-bottom: 1px #8b9496 solid;
}
/*  以下、main > filterのスタイル  */
#filterwrap{
  width: 100%;
  border: 1px black solid;
  padding: 2px;
}
input[type="tel"]{
  display: inline-block;
  width: 50px;
  margin: 5px 0;
}

#yearDiv,
#posDiv,
#persDiv {
  margin: 2px;
  padding-left: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#posDiv span,
#persDiv span {
  width: 80px;
}
.check {
  border: 1px black dotted;
  margin: 5px 2px;
}
.posCheckedSpan {
  background-color: red;
  color: white;
}
.perCheckedSpan {
  background-color: blue;
  color: white;
}
#filterButtonWrap{
  width: 100%;
  display: flex;
  height: 32px;
  margin-top: 10px; 
}
#filterButtonWrap button{
  background-color:#BEF3E2;
  border: none;
  border-radius: 1em;
  margin: auto;
  height: 30px;
}
.closeButton{
  width: 8em;
}
.resetButton{
  width: 6em;
}
/*  ここまでfilter  */
/*  ここまでmain  */

/*  ここからadd */
#yearForm{
  font-size: 20px;
  height: 40px;
  text-align: center;
  background-color: #e9fbf5;
}
#yearForm *{
  margin-top:5px; 
  font-size: 20px;
}
#yearForm input{
  width: 4.5em;
}
/*  ここからaddcard内のスタイル */
.addcard{
  margin: 4px 0px;
  background-color:white; 
  border-radius: 5%;
  padding: 3px;
}
.addcard>*{
  padding: 2px 3px 8px 3px;
}

.posDivChild {
  margin-left: 1em;
}
.addcard select{
  margin: 0px 4px;
  width: 50px;
  height: 22px;
  background-color: white;
  border-radius: 1em;
}
.persDiv select{
  width: 98px;
}
.forFlex{
  display: flex;
  width: 100%;
  padding: 1px;
}
.policyForm{
  margin-left: 10px;
  width:98%;
}
/*  ここまでaddcard内のスタイル */
#addbar{
  width: 100%;
  position: fixed;
  bottom: 50px;
  height: 40px;
  background-color: #93ebcf;
}
.addButton{
  width: 130px;
  height: 32px;
  color: black;
  font: 22px "游ゴシック";
  background-color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  border: 1px white solid;
  border-radius: 10px;
}

/*  ここからtokunouDesc */
.tokunouUl{
  margin: 1px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.tokunouList{
  margin: 1px;
  padding: 0 1px;
  list-style: none;
  background-color: #CCFFFF;
  color: #1E6495;
  border: 1px #4689FF solid;
  border-radius: 0.5em;
  font-size: 12px;
}
/*  ここまでtokunouDesc */
/*  ここからadd < 特能ポップアップのスタイル  */
.tokunouButton{
  border-radius: 1em;
  width: 100px;
  margin: 3px auto;
  border: 1px #4689FF solid;
  color: #1E6495;
  background-color: #B9F9F9;
}
#tokunouwrap{
  width: 100%;
  border: 1px black solid;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
}
#tokunouwrap span{
  display: block;
  margin: 2px 2px;
  padding: 0px 4px;
  border-radius: 0.5em;
  border: 1px #4689FF solid;
}

input[type="checkbox"]{
  display: none;
}
/*  未選択のボタン  */
.none{
  color: #89D6EF;
  background-color: #F0F2F5;
}
/*  選択済み  */
.addTokuSpan {
  color: #1E6495;
  background-color: #B9F9F9;
}
#tokunouButtonWrap{
  width: 100%;
  display: flex;
  height: 32px;
  margin-top: 10px; 
}
#tokunouButtonWrap button{
  background-color:#BEF3E2;
  border: none;
  border-radius: 1em;
  margin: auto;
  height: 30px;
}
/*  ここまでadd < tokunouPop  */
/*  ここまでadd */