#wrap{
  width: 80%;
  border: 1px black solid;
  margin: 5px auto;
  padding: 10px;
}
#navbar{
width: 100%;
}
.navcont{
  display: inline;
  list-style-type: none;
  text-align: center;
  border: 1px black solid;
  background-color:#009900;
}
.navcont a{
  text-decoration: none;
  color: white;
}
.switchButton{
  position: fixed;
  right: 5px;
  bottom: 10px;
}
.playerCard{
  width: 100%;
  height: 50px;
  border: 1px black dotted;
}